@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  font-family: 'Roboto', sans-serif;
}

/* Base Application Styles */
body {
  background: #bfc6c5;

}

/* BODY */

.bodysheet {
  width: 85%;
  right: 0;
  top: 5%;
  bottom: 0;
  left: 15%;
}

/* LEVÉ MENU */

.menuleftclass {
  height: 100%;
  width: 15%;
  position: fixed;
  background-color: #616161;
  box-shadow: 0 2px 8px rgba(0,0,0,.25);
}

/* jednotlivá tlačítka */
.menupole {
  width: 80% !important;
  height: 60px;
  background-color: transparent !important;
  border-radius: 5px !important;
  text-align: center !important;
  left: 10% !important;
  position: relative !important;
  margin: 5px !important;
 
}

#klik {
  color: #84FFFF !important;
}

#klik:hover {
  color: #616161 !important;
  background-color: #84FFFF !important;
}


.logo {
  width: 80%;
  padding: 10%;
}

.odkaz {
  position:absolute;
  left: 27%;
  bottom: 10px ;
  color:#FF4081;
  font-size: 18px;
  text-decoration: none;
}

/* HORNÍ LIŠTA */

.upperline {
  height: 45px;
  width: 90%;
  position: fixed;
  right: 0;
  background-color: #84FFFF;
  box-shadow: 0 2px 8px rgba(0,0,0,.25); 
}

.ikony {
  right: 5% !important;
  width: 40px !important;
  height: 40px !important;
  top:2px !important;
  position: absolute !important;
  
}

